Django>=5.2,<5.3
djangorestframework>=3.15.2
django-cors-headers>=4.3
django-filter>=24.2
dj-database-url>=2.0
python-decouple>=3.8
whitenoise>=6.6
drf-spectacular>=0.28.0
drf-spectacular-sidecar>=2025.2.0
Pillow>=10.0
gunicorn>=21.2.0

# Cloudflare R2 / S3
django-storages>=1.14
boto3>=1.34

# OAuth + Allauth
django-allauth>=0.60
requests>=2.31

# PostgreSQL driver
psycopg2-binary>=2.9

# SMS (optional)
# africastalking>=1.0
# twilio>=8.0
